main {
	height: calc(100vh - 80px);
	background-color: #212528;
	overflow: scroll;
}

#recipeInfosContainer {
	display: flex;
	flex-direction: column;
	width: 80vw;
	margin: auto;
	margin-top: 35px;
}

input,
select {
	height: 20px;
	margin-bottom: 10px;
	background-color: #212528;
	border-color: #FFC108;
	color: white;
}

label {
	margin-bottom: 5px;
	color: white;
}

li {
	color: red;
	list-style: none;
}

#foodInputsContainer {
	width: 100vw;
	height: 28vh;
	overflow-x: scroll;
	margin: auto;
}

#addFieldsBtn:hover {
	cursor: pointer;
}

@media screen and (min-width: 600px) and (max-width: 799px) {
	#recipeInfosContainer {
		width: 50vw;
	}

	#foodInputsContainer {
		width: 80vw;
	}
}

@media screen and (min-width: 800px) and (max-width: 999px) {
	#recipeInfosContainer {
		width: 30vw;
	}

	#foodInputsContainer {
		width: 70vw;
	}
}

@media screen and (min-width: 1000px) {
	#recipeInfosContainer {
		width: 20vw;
		margin: auto;
		margin-top: 35px;
	}

	#foodInputsContainer {
		width: 40vw;
	}

	input,
	select {
		height: 25px;
		margin-bottom: 20px;
	}
	label {
		font-size: 20px;
	}
}

