form {
	display: flex;
	flex-direction: column;
	width: 90vw;
	margin: auto;
}

input,
select {
	height: 20px;
	margin-bottom: 10px;
	background-color: #212528;
	border-color: #FFC108;
	color: white;
}

label {
	margin-bottom: 5px;
	color: white;
}

li {
	color: red;
	list-style: none;
}

#foodInputsContainer {
	height: 30vh;
	overflow-x: scroll;
}

main {
	height: calc(100vh - 80px);
	background-color: #212528;
	overflow-x: scroll;
}