main {
	height: calc(100vh - 80px);
	background-color: #212528;
	color: white;
	width: 100vw;
	overflow-y: scroll;
	overflow-x: hidden;
}

.foodsSection {
	max-height: 35vh;
	overflow-y: scroll;
}

#alertContainer {
	background-color: #2b2e30;
}

li {
	color: red;
}

.foodsSection,
.formSection {
	margin: auto;
	background-color: #2b2e30;
	border-radius: 15px;
	padding: 7px;
	border: 1px solid rgb(77, 76, 76);
	box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 1);
}

.foodsSection,
.formSection {
	padding: 25px;
}

.formSection {
	max-height: 310px;
}

form {
	display: flex;
	flex-direction: column;
}

input,
select {
	height: 30px;
	background-color: #2b2e30;
	border-color: #FFC108;
	margin-bottom: 10px;
	color: white;
}

label {
	margin-bottom: 5px;
}

svg {
	min-width: 16px;
	min-height: 16px;
}

@media screen and (max-width: 1000px) {
	.title {
		display: none;
	}
}

@media screen and (min-width: 800px) and (max-width: 999px) {
	.formSection,
	.foodsSection {
		width: 100%;
	}
}

@media screen and (min-width: 800px) and (max-width: 999px) {
	.formSection,
	.foodsSection {
		width: 100%;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1399px) {
	.formSection,
	.foodsSection {
		width: 40%;
	}
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
	.formSection,
	.foodsSection {
		width: 30%;
	}
}

@media screen and (min-width: 1800px) {
	.formSection,
	.foodsSection {
		width: 25%;
	}
}

/* all desktop sizes */
@media screen and (min-width: 1000px) {
	input,
	select {
		height: 30px;
	}

	input,
	label,
	select {
		font-size: 20px;
	}

	#createFoodBtn {
		font-size: 20px;
	}

	.foodRowsContainer {
		max-height: 70vh;
	}

	.mainRow {
		justify-content: center;
	}

	.foodsSection,
	.formSection {
		margin: 0;
	}
}

/* Hide scrollbar for Chrome, Safari and Opera */
.foodsSection::-webkit-scrollbar {
	display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.foodsSection {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}