main {
	height: calc(100vh - 80px);
	background-color: #212528;
	color: white;
	width: 100vw;
	overflow: scroll;
}

.title {
	font-size: 30px;
}

#planningSection,
#planningHeader {
	font-size: 14px;
	margin: auto;
}

#planningHeader {
	margin-top: 100px;
	margin-bottom: 130px;
}

#planningSelect {
	background-color: #212528;
	border: none;
	color: white;
	font-size: 16px;
}

.recipeName {
	font-size: 10px;
}

.deleteRecipeBtn {
	margin-left: 5px;
}

.dayName,
.whenName {
	font-size: 12px;
}

form {
	display: flex;
	flex-direction: column;
}

input,
select {
	background-color: #2b2e30;
	color: white;
}

.createPlanningInput {
	width: 100%;
}

.planningTitle {
	font-size: 18px;
}

#planningSection {
	background-color: #2b2e30;
	border-radius: 15px;
	padding: 20px;
	box-shadow: 3px 5px 10px 0px rgba(255,255,255,0.18);
}

.headerPart {
	background-color: #2b2e30;
	border-radius: 15px;
	padding: 7px;
	box-shadow: 3px 5px 10px 0px rgba(255,255,255,0.18);
}


@media screen and (min-width: 600px) and (max-width: 799px) {
	#planningSection,
	#planningHeader {
		width: 90vw;
	}
}

@media screen and (min-width: 800px) and (max-width: 999px) {
	#planningSection,
	#planningHeader {
		width: 80vw;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1399px) {
	#planningSection,
	#planningHeader {
		width: 70vw;
	}
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
	#planningSection,
	#planningHeader {
		width: 60vw;
	}
}

@media screen and (min-width: 1800px) {
	#planningSection,
	#planningHeader {
		width: 55vw;
	}
}

/* all desktop sizes */
@media screen and (min-width: 1000px) {
	.dayName,
	.whenName {
		font-size: 25px;
	}

	.recipeName {
		font-size: 20px;
	}

	.planningTitle {
		font-size: 22px;
	}

	#planningSelect {
		font-size: 25px;
	}
}