main {
	height: calc(100vh - 80px);
	background-color: #212528;
	color: white;
	width: 100vw;
	overflow: scroll;
}

.planningSection {
	font-size: 14px;
}

.recipeName {
	font-size: 10px;
}

.deleteRecipeBtn {
	margin-left: 5px;
}

.dayName {
	font-size: 12px;
}