main {
	height: calc(100vh - 80px);
	background-color: #212528;
	color: white;
	width: 100vw;
	overflow: scroll;
}

.title {
	font-size: 30px;
}

#planningSection {
	font-size: 14px;
	margin: auto;
	margin-top: calc(12vh - 80px);
}

#createPlanningText {
	margin-bottom: 130px;
}

#planningSelect {
	background-color: #212528;
	border: none;
	color: white;
	font-size: 20px;
}

.recipeName {
	font-size: 10px;
}

.deleteRecipeBtn {
	margin-left: 5px;
}

.dayName,
.whenName {
	font-size: 12px;
}

@media screen and (min-width: 600px) and (max-width: 799px) {
	#planningSection {
		width: 90vw;
	}
}

@media screen and (min-width: 800px) and (max-width: 999px) {
	#planningSection {
		width: 80vw;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1399px) {
	#planningSection {
		width: 70vw;
	}
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
	#planningSection {
		width: 60vw;
	}
}

@media screen and (min-width: 1800px) {
	#planningSection {
		width: 55vw;
	}
}

/* all desktop sizes */
@media screen and (min-width: 1000px) {
	.dayName,
	.whenName {
		font-size: 25px;
	}

	.recipeName {
		font-size: 20px;
	}
}