main {
	height: calc(100vh - 80px);
	background-color: #212528;
	color: white;
	overflow: scroll;
}

.recipeContainer {
	margin: auto;
}

.recipeNameCol {
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.addToPlanningBtn:hover {
	cursor: pointer;
}

#addToPlanningSection {
	display: none;
}

#recipesSection {
	max-height: 50vh;
	overflow-x: scroll;
	width: 100vw;
	margin-top: 50px;
}

/* design */
#recipesSection,
#addToPlanningSection,
#filtersSection {
	background-color: #2b2e30;
	border-radius: 15px;
	padding: 5px;
}

input,
select {
	height: 20px;
	background-color: #2b2e30;
	border-color: #FFC108;
	color: white;
}

select {
	border: none;
	text-align: center;
	color: #FFC108; 
}

#for {
	width: 35px;
}

#recipeName {
	border: none;
	font-size: 25px;
	height: 30px;
	text-overflow: ellipsis;
}

#filtersSection {
	margin: auto;
}

#recipeTitle {
	margin-top: 20px;
}

@media screen and (min-width: 600px) and (max-width: 999px) {
	#filtersSection {
		width: 65vw;
	}
	
	#recipesSection {
		width: 70vw;
		margin: auto;
		margin-top: 50px;
		max-height: 55vh;
	}

	#addToPlanningSection {
		width: 70vw;
		margin: auto;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1399px) {
	#filtersSection {
		width: 40vw;
	}
	
	#recipesSection {
		width: 40vw;
		margin: auto;
		margin-top: 50px;
		max-height: 55vh;
	}

	#addToPlanningSection {
		width: 40vw;
		margin: auto;
		font-size: 20px;
	}

	input,
	select {
		height: 30px;
	}

	.recipeNameCol {
		font-size: 20px;
	}	
}

@media screen and (min-width: 1400px) {
	#recipesSection {
		width: 40vw;
		max-height: 55vh;
		margin: auto;
		margin-top: 50px;
	}

	#addToPlanningSection {
		width: 30vw;
		margin: auto;
		font-size: 20px;
	}

	input,
	select {
		height: 30px;
	}

	.recipeNameCol {
		font-size: 20px;
	}
	
	#filtersSection {
		width: 27vw;
	}
}