main {
	height: calc(100vh - 80px);
	background-color: #212528;
	color: white;
	width: 100vw;
	overflow: scroll;
}

.clockImage {
	height: 20px;
	width: 20px;
}

.recipeFoodsSection {
	height: 40vh;
	overflow-y: scroll;
	margin: auto;
}

svg {
	cursor: pointer;
}

form {
	display: flex;
	margin: auto;
	background-color: brown;
}

input,
select {
	background-color: #212528;
	border-color: #FFC108;
	color: white;
	width: 100%;
}

@media screen and (min-width: 600px) and (max-width: 999px) {
	.recipeFoodsSection {
		width: 60vw;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1399px) {
	.recipeFoodsSection {
		width: 50vw;
	}
}

@media screen and (min-width: 1400px) {
	.recipeFoodsSection {
		width: 40vw;
	}
}

/* All desktop */
@media screen and (min-width: 1000px) {
	.recipeFoodsSection {
		height: 60vh;
	}

	.recipeInfo {
		font-size: 20px;
	}
}

/* Hide scrollbar for Chrome, Safari and Opera */
.recipeFoodsSection::-webkit-scrollbar {
	display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.recipeFoodsSection {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}