main {
	height: calc(100vh - 80px);
	background-color: #212528;
	color: white;
	overflow-y: scroll;
}

#listSection {
	max-height: 70vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

#planningSelect {
	color: white;
	border: none;
	background-color: #2b2e30;
}

#listSection,
#selectContainer,
#pdfContainer {
	background-color: #2b2e30;
	border-radius: 15px;
	padding: 10px;
	border: 1px solid rgb(77, 76, 76);
	box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 1);
}

#selectContainer {
	width: 25vw;
}

@media screen and (min-width: 600px) and (max-width: 799px) {
	#listSection {
		width: 75vw;
	}
	
	#selectContainer {
		width: 25vw;
	}
}

@media screen and (min-width: 800px) and (max-width: 999px) {
	#listSection {
		width: 65vw;
	}

	#selectContainer {
		width: 25vw;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1399px) {
	#listSection {
		width: 55vw;
	}

	#selectContainer {
		width: 15vw;
	}
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
	#listSection {
		width: 45vw;
	}

	#selectContainer {
		width: 12vw;
	}
}

@media screen and (min-width: 1800px) {
	#listSection {
		width: 40vw;
	}

	#selectContainer {
		width: 10vw;
	}
}

/* all desktop sizes */
@media screen and (min-width: 1000px) {
	input,
	select {
		height: 30px;
	}

	input,
	label,
	select {
		font-size: 20px;
	}

	#updateRecipeBtn {
		font-size: 20px;
		margin-top: 25px
	}
}

/* Hide scrollbar for Chrome, Safari and Opera */
#listSection::-webkit-scrollbar {
	display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
#listSection {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}