main {
	height: calc(100vh - 80px);
	background-color: #212528;
	overflow: scroll;
	color: white;
}

form {
	display: flex;
	flex-direction: column;
	width: 60vw;
	margin: auto;
	margin-top: 35px;
}

input,
select {
	height: 25px;
	margin-bottom: 10px;
	background-color: #212528;
	border-color: #FFC108;
	color: white;
}

label {
	margin-bottom: 5px;
}

@media screen and (min-width: 600px) and (max-width: 799px) {
	form {
		width: 50vw;
	}
}

@media screen and (min-width: 800px) and (max-width: 999px) {
	form {
		width: 30vw;
	}
}

@media screen and (min-width: 1000px) {
	form {
		width: 20vw;
		margin: auto;
		margin-top: 35px;
	}

	input,
	select {
		height: 30px;
		margin-bottom: 20px;
	}
	label {
		font-size: 20px;
	}
}